<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


  <title>IMS-DE-DON</title>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-3">
        <img class="login-image" src="images/motorcycle.png" alt="The image file is missing">
      </div>
      <div class="col-lg-6 login-section">
        <h1 class="heading">DE-DON Motors Inventory Management System</h1>
        <label class="error" for=""> <%= errorMessage %> </label>
        <form class="input-form" action="/" method="post">
          <ul>
            <li>
              <img class="user-image" src="/images/person-icon.png" alt="Missing Image file">
              <h3 class="user">User Login</h3><br>
            </li>
            <li>
              <br><label for="">User Name or Email address</label><br>
              <input class="text-input" type="text" name="userName" value="" placeholder="email@example.com" size="35"><br><br>
            </li>
            <li>
              <label for="">Password</label><br>
              <input class="text-input" type="password" size="35" name="password" value="" placeholder="password"><br><br>
            </li>
            <li>
              <button type="submit" class="input-button" name="button">
                Login</button><br><br>
            </li>
          </ul>
        </form>

        <form action="/singup.html" method="post">
          <label for="">Not have account? <a href="/signup">Sign Up</a></label>
        </form>

      </div>

    </div>

  </div>

</body>

</html>
